@scope (.counter) {
  :scope {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1.5em;
    font-variant-numeric: tabular-nums;
  }

  button {
    padding: 0;
    inline-size: 2em;
    block-size: 2em;
  }
}
